<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
    </Console>
    <File name="MatchSimulationLoggerFile" fileName="logs/MatchSimulationTest.log" append="false">
        <PatternLayout>
            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</Pattern>
        </PatternLayout>
    </File>
</Appenders>
<Loggers>
    <Logger name="MatchSimulationLogger" level="info" additivity="false">
        <AppenderRef ref="MatchSimulationLoggerFile"/>
    </Logger>
    <Root level="WARN">
    </Root>
</Loggers>
</Configuration>
